/* =Add Account */
	.overlay {
	background: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%; }

		.overlay>a {
		height: 100%;
		overflow: hidden;
		position: absolute;
		text-indent: -999px;
		width: 100%;
		z-index: 1; }

		.overlay:target {display: block; }

		.overlay:target div#login {
	    -webkit-animation: scaleDown 1.2s ease-in-out;
	    animation: scaleDown 1.2s ease-in-out; }

		@-webkit-keyframes scaleDown {
		  0% { -webkit-transform: scale(2,2); opacity: 0; }
		  50% { -webkit-transform: scale(1,1); opacity: 1; }
		}
		
		/*@keyframes scaleDown {
		  0% { transform: scale(10,10); opacity: 0; }
		  100% { transform: scale(1,1); opacity: 1; }
		}
		*/


	.toggle-list div,
	.toggle-list-in div {height: 0; opacity: 0; }
	.toggle-list.target div,
	.toggle-list-in.target div {height: inherit; opacity: 1; -webkit-animation: historyDown 1.2s; }
		@-webkit-keyframes historyDown {
	 	 0% {opacity: 0; }
		 50% {opacity: 1; }
		}
	
	
	.rotate img {margin-right: 5px; -webkit-animation: rotation 1s linear infinite; }
		@-webkit-keyframes rotation {
		  0% { -webkit-transform: rotate(0deg) translateZ(0); }
		  100% { -webkit-transform: rotate(360deg) translateZ(0); }
		}
	
		
		
	.panel {-webkit-perspective: 600px; position: relative; margin: 0 auto; width: 415px; z-index: 100; }
		
		/* -- make sure to declare a default for every property that you want animated -- */
		/* -- general styles, including Y axis rotation -- */
		.panel .front {
		-webkit-transform: rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out; }
			
		.panel.flip .front {z-index: 900; -webkit-transform: rotateY(180deg);}
		
		.panel .back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 800;
		-webkit-transform: rotateY(-180deg);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;  			
		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out; }
		
		.panel.flip .back {z-index: 1000; -webkit-transform: rotateY(0deg);	-moz-transform: rotateY(0deg); }
		
		
/* =Login */
.login-start {
  	  /*margin-left: 0px;*/
      -webkit-transform: translateY(100px); 
      -webkit-animation-name: login_start;
      -webkit-animation-duration: .7s;
      -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes login_start {
      	
	  from { 
	  	-webkit-transform: translateY(0); 
	  }
	  
	  to { 
	  	-webkit-transform: translateY(100px); 
	  }          
}

/* toolbar */
/* no-expand */
#content.no-expand.with-toolbar {
	-webkit-transform: translateX(0px);
 	-webkit-animation-name: noexpand_toolbar;
  	-webkit-animation-duration: .5s;
  	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes noexpand_toolbar { 
	from { -webkit-transform: translateX(291px);}
	to { -webkit-transform: translateX(0); }
}

#content.no-expand.without-toolbar {
	-webkit-transform: translateX(291px);
 	-webkit-animation-name: noexpand_without_toolbar;
  	-webkit-animation-duration: .5s;
  	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes noexpand_without_toolbar { 
	from { -webkit-transform: translateX(0);}
	to { -webkit-transform: translateX(291px); }
}
/* expand */

 	/* portrait */
	@media screen and (orientation:portrait) {
		#content.expand.expand-with-toolbar {
			width: 475px;
		 	-webkit-animation-name: expand_toolbar;
		  	-webkit-animation-duration: .5s;
		  	-webkit-animation-timing-function: ease-in-out;
		}
		
		@-webkit-keyframes expand_toolbar { 
			from { width:768px }
			to { width: 475px }
		}
		
		#content.expand.expand-without-toolbar {
			width: 768px;
		 	-webkit-animation-name: expand_without_toolbar;
		  	-webkit-animation-duration: .5s;
		  	-webkit-animation-timing-function: ease-in-out;
		}
		
		@-webkit-keyframes expand_without_toolbar { 	
			from { width: 475px }
			to { width:768px }
		}
	}
	/* landscape */
	@media screen and (orientation:landscape) {
		#content.expand.expand-with-toolbar {
			width: 733px;
		 	-webkit-animation-name: expand_toolbar;
		  	-webkit-animation-duration: .5s;
		  	-webkit-animation-timing-function: ease-in-out;
		}
		
		@-webkit-keyframes expand_toolbar { 
			from { width:1024px }
			to { width: 733px }
		}
		
		#content.expand.expand-without-toolbar {
			width: 1024px;
		 	-webkit-animation-name: expand_without_toolbar;
		  	-webkit-animation-duration: .5s;
		  	-webkit-animation-timing-function: ease-in-out;
		}
		
		@-webkit-keyframes expand_without_toolbar { 	
			from { width: 733px }
			to { width:1024px }
		}
	}

/******************* toolbar */ 
      
 /* portrait */
@media screen and (orientation:portrait) {
  /* portrait-specific styles */
 	#content.expand {
  	  /*margin-left: 0px;*/
  	  width: 768px;
      -webkit-transform: translateX(0); 
      -webkit-animation-name: contentexpand;
      -webkit-animation-duration: .5s;
      -webkit-animation-timing-function: ease-in-out;
  	}
  	
  	@-webkit-keyframes contentexpand {
	       	
	      from { -webkit-transform: translateX(291px);}
	      to { -webkit-transform: translateX(0); }
	}
	  
  	#content.no-expand {
      -webkit-transform: translateX(291px);
   	  width: 475px;
      -webkit-animation-name: contentnoexpand;
      -webkit-animation-duration: .5s;
      -webkit-animation-timing-function: ease-in-out;
  	}

  	@-webkit-keyframes contentnoexpand {
          
          0% { 
          	-webkit-transform: translateX(0); 
          	width: 768px;
          }
          
          99% { 
          	-webkit-transform: translateX(285px); 
          	width: 768px;
          }
          
          100% { 
          	-webkit-transform: translateX(291px); 
          	width: 475px;
          	          
          }
  	}
	
	.description-note.expand {  		
  		height: 430px;
  		/*
  		-webkit-animation-name: description_note_expand;
		-webkit-animation-duration: .5s;
		-webkit-animation-timing-function: ease-in-out;
		*/
  	}
  	@-webkit-keyframes description_note_expand { 
		from { height:0px;}
		to { height: 430px;}
	}
	
  	.description-note.no-expand {  		
  		height: 0px;
  		/*
  		-webkit-animation-name: description_note_noexpand;
		-webkit-animation-duration: .5s;
		-webkit-animation-timing-function: ease-in-out;
		*/
  	}  	
  	@-webkit-keyframes description_note_noexpand { 
		from { height:430px;}
		to { height: 0px;}
	}
}
/* landscape */
@media screen and (orientation:landscape) {
  	/* landscape-specific styles */
	/* slide-out */
	  #content.expand {
	  	  /*margin-left: 0px;*/
	  	  width: 1024px;
	      -webkit-transform: translateX(0); 
	      -webkit-animation-name: contentexpand;
	      -webkit-animation-duration: .5s;
	      -webkit-animation-timing-function: ease-in-out;
	  }
	
	  @-webkit-keyframes contentexpand {
	       	
	      from { -webkit-transform: translateX(291px);}
	      to { -webkit-transform: translateX(0); }
	  }
	  
	  #content.no-expand {
	      -webkit-transform: translateX(291px);
	   	  width: 733px;
	      -webkit-animation-name: contentnoexpand;
	      -webkit-animation-duration: .5s;
	      -webkit-animation-timing-function: ease-in-out;
	  }
	
	  @-webkit-keyframes contentnoexpand {
	          
	          0% { 
	          	-webkit-transform: translateX(0); 
	          	width: 1024px;
	          }
	          
	          99% { 
	          	-webkit-transform: translateX(285px); 
	          	width: 1024px;
	          }
	          
	          100% { 
	          	-webkit-transform: translateX(291px); 
	          	width: 733px;
	          	          
	          }
	  }
	  
	  	.description-note.expand {	  		
	  		height: 320px;
	  		/*
	  		-webkit-animation-name: description_note_expand;
			-webkit-animation-duration: .5s;
			-webkit-animation-timing-function: ease-in-out;
			*/
	  	}
	  	@-webkit-keyframes description_note_expand { 
			from { height:0px;}
			to { height: 320px;}
		}
		
		.description-note.no-expand {				
	  		height: 0px;
	  		/*
	  		-webkit-animation-name: description_note_noexpand;
			-webkit-animation-duration: .5s;
			-webkit-animation-timing-function: ease-in-out;
			*/
	  	}
	  	@-webkit-keyframes description_note_noexpand { 
			from { height:320px;}
			to { height: 0px;}
		}

}

/** Pull Up Load more */

#pullDown, #pullUp {
	background:#fff;
	height:40px;
	line-height:40px;
	padding:5px 10px 20px 35px;
	/*border-bottom:1px solid #ccc;
	font-weight:bold;*/
	font-size:16px;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../images/icons/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullUp .pullUpLabel {
	margin-left: 5px;
}

#pullUp.loading {		
	text-align: left;
}

#pullUp.loading .pullUpIcon {		
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
/**​ End Pull Up Load more */	
	
/* Queue search */
.patient-queue.layer-search {
	display:none;opacity: 0.7;
	background-color: #FFF
	;position: absolute; 
	z-index: 9999; 
	width: 100%; 
	left:0;	
} 


.fade-in-element {
	opacity:1 !important;
	-webkit-transition: opacity 0.1s ease-in;
}


.anim1 {
    -webkit-transform: translate(3000px, 0);
    -webkit-transition: all ease-in 1s;
    z-index: 1;
    position: absolute;
}
