
	@font-face {font-family: Cordia; src: url('cordia/Cordia.ttf'); } 
	@font-face {font-family: Cordia; font-weight: bold; src: url('cordia/Cordiab.ttf'); }

	body,						input, 
	select,						textarea, 
	header.header h1,			footer.footer p, 
	.loading,					#account nav, 
	#service-tools nav,			[class|="edit"],
	#tabs li,					.toggle-form .toggle-list-in form input,
	.delete-btn,				.patient-info li:last-child input {
	font-family: Helvetica Neue, sans-serif; font-size: 16px; }
	
	#patient-summary,				.patient-queue article a, 
	#account,						.toggle-form header,
	.toggle-form form input,		.patient-info li input,
	.patient-info li textarea {
	color: #4f3b2e ; font-family: Cordia, sans-serif; font-size: 18px; }

	/* =Login */
	#login form li input,
	#register form li input {color: #aeaeae; }
	
	#login form li select, 
	#login form li input[type="submit"],
	#register form li select, 
	#register form li input[type="submit"] {
	color: #555; font-weight: bold; }

	#login form li:first-child input, 
	#login form li:first-child+li input,
	#register form li:first-child input, 
	#register form li:first-child+li input {font-size: 14px; }

	#login>ul,
	#register>ul {text-align: center; }
	#login ul a,
	#register ul a {color: #fff; font-size: 13px; }
	
	/* =Header */
	header.header h1,
	footer.footer p,
	footer.footer p a {color: #fff; font-weight: normal; text-decoration: none; }
	
	/* =Search */
	[id|="search"] input {color: #c0c0c0; font-size: 13px; }

	/* =Patient Info */
	#patient-summary h1 {font-size: 30px; }
	#patient-summary h2 {font-size: 24px; }
	#patient-summary .entry a {color: #4f3b2e; text-decoration: none; }
	
	#patient-summary .entry .recent-present th {font-size: 24px; line-height: 20px; }
	#patient-summary .entry .vital-side th {font-size: 20px; line-height: 20px; }
	#patient-summary .entry .recent-present h2 {font-size: 24px; line-height: 15px; }
	
	.patient-info li label {font-size: 16px; font-weight: bold; line-height: 20px; }
	.patient-info li a {color: #4f3b2e; text-decoration: none; }

	/* =History */
	.toggle-list,
	.toggle-list-in,
	#title-page {font-weight: bold; }
	.toggle-list a,
	.toggle-list-in a {color: #4f3b2e; text-decoration: none; }
	
	.toggle-list form input[type="text"],
	.toggle-form .toggle-list-in form input[type="text"] {color: #4f3b2e; font-size: 12px; font-weight: bold; text-shadow: 0 0 2px #e1e1e1; }
	
	.toggle-form form li,
	.toggle-form form input {font-size: 30px; }
	
	#title-page ul li[class|="edit"] {color: #7f7f7f; font-size: 12px; }

	/* =Patient Queue */
	.patient-queue article a {text-decoration: none; }
	.patient-queue article h1 {font-size: 24px; }
	
	/* =Loading */
	.loading {font-size: 12px; font-weight: normal; text-align: center; }
	
	/* =Tools Panel */
	#toools-panel {color: #fff; }
	#toools-panel a {color: #fff; text-decoration: none; }
	
		/* =Account */
		#account {color: #fff; }
		#account h1 {font-size: 24px; margin: 0 0 10px; line-height: 10px; }
		#account h2 {font-size: 18px; margin: 0; }
		#account header {font-size: 22px; font-weight: bold; line-height: 16px; }
		#account nav {font-size: 16px; }

		/* =Service Tools */
		#service-tools header h2 {font-size: 14px; }
		#service-tools nav {font-size: 16px; }
		#service-tools li input {color: #555; font-size: 14px; font-weight: bold; text-shadow: 0 0 2px #e1e1e1; }


	.description-note form textarea {line-height: 40px; }
	.description-note aside h2 {color: #fff; font-size: 14px; }
	.description-note aside a {color: #4f3b2e; text-decoration: none; }
	.description-note form ul input,
	.patient-info li:last-child input {color: #555; font-size: 14px; font-weight: bold; text-shadow: 0 0 2px #e1e1e1; }
	
	.description-note form div ul input {font-weight: normal; }
	
	[class|="edit"] {color: #555; font-size: 12px; font-weight: bold; text-shadow: 0 0 2px #e1e1e1; }
	
	#tabs li {font-size: 12px; font-weight: bold; text-shadow: 0 0 2px #e1e1e1; }


	.delete-btn {color: #fff; font-size: 12px; font-weight: bold; }
	
	