
	/* =Header */
	.header {
	background: -webkit-linear-gradient(#57c8cb,#028486);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #000;
	height: 30px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	text-shadow: 0 0 3px #1da2a4;
	z-index: 100; }
	
	.header:after {
	background-image: -webkit-linear-gradient(#959595, rgba(255,255,255,0.3));
	content: ' ';
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	left: 0;
	top: 100%; }		
	
	.footer {
	background: -webkit-linear-gradient(#57c8cb,#028486);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	bottom: 0;
	height: 30px;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 3px #1da2a4;
	z-index: 100;
	right: 0;
	left: 0; }
	
	.footer:after {
	background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), #959595);
	content: ' ';
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	left: 0;
	top: -3px; }

		.header input[type="button"] {
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
		border-radius: 2px;
		bottom: 8px;
		border: 1px solid #999;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		overflow: hidden;
		position: absolute;
		top: 8px;
		text-indent: -9999px;
		width: 30px; }
	
		[class$="icn"] {
		background-image: url(../images/icons/sprite.png), -webkit-linear-gradient(#139194,#249da0);
		border: 1px solid #068187;
		border-radius: 6px;
		bottom: 6px;
		cursor: pointer;
		display: inline-block;
		margin: 0;
		overflow: hidden;
		position: absolute;
		top: 6px;
		text-indent: -9999px;
		width: 34px; }

		.header [class|="queue"] {background-position: -34px 0; left: 10px; }
		.header [class|="option"] {background-position: -68px 0; right: 10px; }
		.header [class|="list"] {background-position: 0 0; left: 10px; }
		
		.footer [class|="addQueue"] {background-position: -102px 0; left: 10px; }
		.footer [class|="reload"] {background-position: -136px 0; right: 10px; }
		
		[class|="drawing"] {
		background-image: url(../images/icons/sprite.png), -webkit-linear-gradient(#cdcdcd,#eaeaea) !important;
		background-position: -34px -30px !important;
		background-size: 200px;
		position: static; }
		
		[class|="edit"] {
		background-image: -webkit-linear-gradient(#cdcdcd,#eaeaea);
		border: 0;
		border-radius: 5px;
		text-indent: 0;
		padding: 5px 5px;
		right: 15px;
		width: inherit; }

		#title-page ul li[class|="edit"] {
		border-radius: 0; 
		background: -webkit-linear-gradient(#f5f5f5,#d1d1d1);
		border-left: 1px solid #c0c0c0;
		height: 20px;
		padding: 7px 7px 3px;
		overflow: hidden;
		width: inherit; }
		
		.toggle-list form input[class|="add"],
		.toggle-list-in form input[class|="add"],
		#title-page ul li[class|="add"] {
		border: 0;
		border-radius: 0; 
		background: url(../images/icons/sprite.png) -66px -27px, -webkit-linear-gradient(#f5f5f5,#d1d1d1);
		border-left: 1px solid #c0c0c0;
		height: 29px;
		width: 38px;
		overflow: hidden;
		text-indent: -999px; }
			
		#title-page ul li[class|="add"] {height: 30px; }
		
		.toggle-list form input[class|="add"],
		.toggle-list-in form input[class|="add"] {position: absolute; right: 0; top: 0; }

		.header input[type="button"] {
		font-size: 12px;
		float: right;
		line-height: 5px;
		position: static;
		text-indent: 0;
		width: 60px; }
		
		.delete-btn {
		background: -webkit-linear-gradient(#f1a57d,#f05);
		border: 1px solid #f05 !important;
		border-radius: 5px !important;
		box-shadow: 0 0 0 !important;
		padding: 5px !important;
		float: right;
		cursor: pointer; }
		
		.edit-btn {
		background: -webkit-linear-gradient(#b6e026,#abdc28);
		border: 1px solid #566E14 !important;
		border-radius: 5px !important;
		box-shadow: 0 0 0 !important;
		padding: 5px !important;
		float: right;
		cursor: pointer; }

		.delete-btn.trigger {background: -webkit-linear-gradient(#f05,#f1a57d); }



	/* =Form field 
	input[type="text"], input[type="submit"], 
	input[type="button"], input[type="reset"],
	input[type="date"], input[type="email"], 
	input[type="search"], input[type="password"], textarea, select,	
	.checkbox, .radio, .swift {
	border: 1px solid #B3B3B3;
	background-image: -webkit-linear-gradient(#eee,#ddd);
	width: 100%;
	padding: 10px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	border-radius: 5px;
	display: block;
	box-sizing: border-box;
	overflow: hidden; } */

	/* =Form field */
	input[type="text"],	input[type="date"], input[type="email"], 
	input[type="search"], input[type="password"], textarea {
	background: #ebebeb;
	background: -webkit-linear-gradient(#ebebeb,#ebebeb);
	border: 1px solid #4c979d;
	border-radius: 6px;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	padding: 9px 10px;
	width: 100%; }
	
	input[type="submit"], input[type="button"], 
	input[type="reset"], select {
	background: -webkit-linear-gradient(#cdcdcd,#eaeaea);
	border: 1px solid #4c979d;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	padding: 8px 10px;
	width: 100%;
	text-shadow: 0 0 3px #d8d8d8; }
   
    /*input[type="search"] {*/
	[id|="search"] input {
	box-shadow: inset 0 2px 1px rgba(0,0,0,.25);
	/*-webkit-appearance: none;*/
	
	background: url(../images/icons/search.png) 10px 7px no-repeat #fff; 
	border: 1px solid #aab2b9;
	border-radius: 15px;
	padding: 5px 0px 5px 25px; }
	

		select {-webkit-appearance: button; }
	
		input[type="submit"],
		input[type="button"],
		input[type="reset"] {cursor: pointer; }
		
		.form-set {border-radius: 15px; border: 1px solid #aaa; margin: 5px 0; overflow: hidden; }
		.form-set li:first-child label {border-top-left-radius: 15px; border-top-right-radius: 15px; }
		.form-set li:last-child label {border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
		.form-set .checkbox, .form-set .radio {border-radius: 0; box-shadow: inset 0 0 0 rgba(0,0,0,0);	border: 0; }
	
	/* =Swif button */
	.swift {
	border-radius: 20px;
	border: 1px solid #aaa;
	display: inline-block;
	height: 41px;
	padding: 0;
	overflow: hidden; }

		.swift * {
		box-sizing: border-box;
		display: inline-block;
		float: left;
		margin-right: -20px;
		padding: 10px;
		text-align: center;
		width: 50%; }

		.swift *:first-child {background: #f00; }
		.swift a {
		background: #aaa;
		border-radius: 20px;
		box-sizing: content-box;
		cursor: pointer;
		padding: 10px 10px;
		width: 50%; }


	/* =Button set */
	.button-set {
	border-radius: 15px;
	border: 1px solid #aaa;
	margin: 5px 0;
	overflow: hidden; }

		.button-set a {
		background-image: -webkit-linear-gradient(#eee,#ddd);
		width: 100%;
		padding: 10px;
		-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
		display: block;
		box-sizing: border-box;
		overflow: hidden; 
		border-radius: 0;
		box-shadow: inset 0 0 0 rgba(0,0,0,0);
		border: 0; }

		.button-set li:first-child a {border-top-left-radius: 15px; border-top-right-radius: 15px; }
		.button-set li:last-child a {border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; }
	

	/* =Button */
	.button {
	background: -webkit-linear-gradient(#169396,#249da0);
	border: 1px solid #068187;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px !important;
	font-weight: bold;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 3px #1da2a4; }
	
		.button:active,
		.button:hover {background: -webkit-linear-gradient(#6cbec5,#66abb1); }

		.button:link {background: -webkit-linear-gradient(#169396,#249da0); }
		
	

	/* =Delete */
	.delete {
	background: #000;
	border: 2px solid #fff;
	border-radius: 15px;
	cursor: pointer;
	display: none;
	height: 18px;
	overflow: hidden;
	position: absolute;
	right: -9px;
	top: -9px;
	text-indent: -999px;
	width: 18px; }

		.delete:before,
		.delete:after {
		background: #fff;
		border-radius: 2px;
		content: " ";
		display: block; 
		height: 12px;
		left: 8px;
		position: absolute;
		top: 3px;
		width: 2px; }
	
		.delete:before {-webkit-transform: rotate(-45deg); }
		.delete:after {-webkit-transform: rotate(45deg); }
			
#appointmentScrollFromEdit .dwi {
	padding: 0 !important;
}
#appointmentScrollFromEdit .dw {
	margin: 0 !important;
}

#appointmentScrollFromEdit .jqm {
	float: left;
}
