.header .queue-icn, .header .option-icn, #result-queue #pullUp {
	display:none !important;
}

#content {
  -webkit-transform: translateX(291px) !important;
  width: 783px !important;
  /*
  -webkit-animation-name: contentnoexpand;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease-in-out;
  */
}

#infoSlideWrapper {
	width:320px !important;
}

#royalSlider {
	width:960px !important;
}
#slide-nav {
	width:320px !important;
}

#royalSlider li {
	width:320px !important;
}

#banner { padding: 10px 15px 15px !important;}

#queue-panel ,#content {
	height: 768px !important;
}

.patient-queue article img {margin: 5px 12px 0 0 !important; }


#service-tools nav ul.toolbar-set {height: 481px !important;}
#service-tools nav ul.print-set {height: 38px !important;}
#service-tools nav ul.cash-area {height: 90px !important;margin-top: 5px;}

#toools-panel nav ul.print-set li a {background: -webkit-linear-gradient(#ff802c,#ff6517); }


#service-tools nav ul.cash-area p {
	width: 80px;
	margin-left: 5px;
	display: inline-block;
}

#service-tools nav ul.cash-area input {
	width: 65%;
	display: inline-block;
}
.patient-queue {
	height: 403px;
}

.description-note form.input-field div li {margin: 0 0 1px 0 !important; }
.description-note form.input-field div {height: 318px !important;}

.description-note form>ul {padding: 6px 10px 0 !important;}
